<!--<div class="container-news my-5" *ngIf="!mobile">
  <div class="row m-3 d-flex justify-content-between">
    <h3>{{ pageIndexNews }}</h3>
    <h3
      [routerLink]="['/news']"
      style="font-size: 1.5rem; cursor: pointer; opacity: 0.8"
    >
    {{ pageIndexAll }}
    </h3>
  </div>
  <div class="d-flex">
    <div *ngFor="let n of news" class="col-3">
      <div class="card" [routerLink]="['/news']">
        <img
          class="card-img-top"
          src="{{ n.pictureurl }}"
          alt="Card image cap"
          style="height: 150px; object-fit: cover"
        />
        <div class="card-body">
          <h5 class="card-title mb-2" style="height: 70px">
            {{ n.newsname }}
          </h5>
          <p style="font-weight: 200">
            {{ n.publicationtime }}
          </p>
          <p class="card-text">
            {{ n.newscontent }}
          </p>
          <p class="readmore"></p>
        </div>
      </div>
    </div>
  </div>
</div>
-->
<div class="container-news my-5" *ngFor="let s of sizes" class="{{s.css + ' ' + (prefix + s.id) }}">
  <div class="row m-3 d-flex justify-content-between">
    <h3>{{ pageIndexNews }}</h3>
    <h3 [routerLink]="['/news']"
        style="font-size: 1.5rem; cursor: pointer; opacity: 0.8">
      {{ pageIndexAll }}</h3>
  </div>
  <div class="card">
    <p-carousel [value]="news" styleClass="custom-carousel" [numVisible]="this.responsiveOptions[0].numVisible"
      [numScroll]="this.responsiveOptions[0].numScroll" [circular]="true" [autoplayInterval]="0"
      [responsiveOptions]="responsiveOptions">
        <ng-template let-n pTemplate="item" class="col-3">
          <div class="item card">
            <img class="card-img-top"
                 src="{{ n.pictureurl }}"
                 alt="Card image cap"
                 style="height: 150px; object-fit: cover"
              />
            <div class="card-body">
              <h5 class="card-title mb-2" style="height: 70px">
                {{ n.newsname }}
              </h5>
              <p style="font-weight: 200">
                {{ n.publicationtime }}
              </p>
              <p class="card-text">
                {{ n.newscontent }}
              </p>
              <p class="readmore"></p>
            </div>
          </div>
        </ng-template>
    </p-carousel>
  </div>
</div>

